/* root */
*, *::after{
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: all 0.3s ease-in-out;
    color: #1F2937;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;    
}

body{
    overflow-x: hidden;
}

/* btns */

.btn a{
    display: inline-block;
    background-color: var(--btn-color);
    display: inline-block;
    padding: 10px 35px;
    border-radius: 10px;
    margin: 10px 0px;
    color: var(--secondary-text-color);
    font-weight: var(--info-header-txt-weight);        
}

.btn a:hover, .social-logo:hover{
    transform: scale(0.9);
    cursor: pointer;
}

.btn-outline a{
    display: inline-block;
    color: var(--secondary-text-color);
    cursor: pointer;
    outline: 2px solid var(--secondary-text-color);
    border-radius: 10px;
    padding: 10px 35px;
    font-weight: var(--info-header-txt-weight);   
}

.btn-outline a:hover{
    transform: scale(0.9);    
}

/* Important Property Value */
:root{
    --dark-bg-color: #1F2937;
    --main-text-size: 48px;
    --main-text-color: #f9faf8;
    --main-text-weight: 900;
    --secondary-text-size: 18px;
    --secondary-text-color: #E5E7EB;
    --header-logo-txt-size: 24px;
    --header-logo-txt-color: #F9FAF8;
    --btn-color: #3882F6;
    --info-header-txt-size: 36px;
    --info-header-txt-color: #1F2937;
    --info-header-txt-weight: 900;
    --quote-bg-color: #E5E7EB;
    --quote-txt-size: 36px;
    --quote-txt-style: italic;
    --quote-txt-weight: lighter;
    --quote-txt-color: #1f2937;
}

.bg-quote{
    background-color: var(--quote-bg-color);
}

/* Section 1 - Landing Page */
.dark-bg{
    background-color: var(--dark-bg-color); 
}
.section{
    /* height: 100vh; */       
    display: flex;
    justify-content: center;   
    align-items: center;
    padding: 10px 0 20px;
}

.section-container{
    display: flex;
    flex-direction: column;
    width: 1015px;
    /* width: 75%; */
    position: relative;
    /* border: 2px solid red; */      
}

/* Section 1 - Header */
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    position: fixed;
    background-color: #1F2937;    
    right: 0;
    left: 0;
    top: 0;
    padding: 5px 15px;
    z-index: 999999;       
}


header a{
    text-decoration: none;
    color: var(--secondary-text-color);
    font-size: var(--secondary-text-size);
    position: relative;
    z-index: 1;
    padding: 5px 10px;      
}

header a:hover::after{
    transform: scaleX(1)
}

header a:hover{
    font-size: var(--secondary-text-size) - 0.1;
}

header a::after{
    content: "";
    position: absolute;
    border-bottom: 2px solid var(--main-text-color);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;    
    transform: scaleX(0);
    transform-origin: center;
}

header ul{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    gap: 5px;
    flex-grow: 1;        
}

header li, header a{
    flex-grow: 1;        
}



.header-logo img{
    object-fit: cover;
    object-position: center;
    width: 80px;
}



/* Section-1 Visual */
.visual{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* outline: 2px solid red;    */
    flex: 1; 
    gap: 50px;
    margin: 150px 0px 80px;   
    padding: 0px 20px; 
}
.visual-left > h1{
    color: var(--main-text-color);
    font-size: var(--main-text-size);
    font-weight: var(--main-text-weight);    
}

.visual-left > p{
    color: var(--secondary-text-color);
    font-size: var(--secondary-text-size);
    margin: 5px 0px;
}

.visual-right img{
    width: 100%;
    border-radius: 10px;
}

.visual-left{
    flex-grow: 1;
    flex-basis: 45%;  
    flex-shrink: 0;  
}

.visual-right{
    flex-grow: 3;   
    flex-basis: 300px;
    box-shadow: 0px -15px 15px -15px rgba(255, 255, 255, 0.1);
}

/* Section 2 - Mini Projects */

.title-2{
    margin: 30px 0px 15px;
    text-align: center;
}

.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    gap: 25px;
    flex-wrap: wrap;
}

.card{
    display: block;
    flex-shrink: 0;
    flex-basis: 250px;
    /* outline: 2px solid red; */
    /* height: 300px; */
    flex-grow: 1;
    text-align: center;
    padding: 15px 10px; 
    height: 100%;
    
}

.card:hover{
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.3);   
    border-radius: 10px;
}

.card:hover > *{
    transform: scale(0.95);
}

.card-thumbnail{
    border-radius: 15px;
    border: 4px solid var(--btn-color);
    border-radius: 15px;
    width: 170px;
    height: 170px;
    overflow: hidden;
    margin: auto;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.3);   
}

.card-thumbnail img{
    height: 100%;
    width: 100%;    
    object-fit: cover;
    object-position: center;    
}

/* Section 3 - Quotes */
#quotes{
    margin: 35px 0px;
    padding: 80px 0px;
    text-align: center;
    font-size: var(--quote-txt-size);
    font-style: var(--quote-txt-style);
    font-weight: var(--quote-txt-weight);
    color: var(--quote-txt-color);
}

/* Section 4 - Contact Me */
#contact{
    margin: 80px;
}

.call-to-action{
    background-color: var(--btn-color); 
    padding: 45px 100px;   
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 10px;
}

.call-to-action *{
    color: var(--header-logo-txt-color);
}

.details-coa{
    flex-basis: 550px;    
}

.btn-outline{    
    flex-shrink: 0;
    margin: 10px;
}

.social-logo{
    height: 50px;
    border-radius: 10px;
}

.contact-details ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    font-weight: 550;
    background-color: var(--quote-bg-color);
    border-radius: 10px;
    padding: 5px 0;
}

/* Section 5 - Certificates */
.certificates-header{
        text-align: center;
        margin: 15px 0;
}

.certificates-tiles ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;    
    /* border: 2px solid blue; */
}

.certificates-tiles li{
    height: 100px;           
    overflow: hidden;
    flex-basis: 600px;
    flex-grow: 1;
    /* flex-shrink: 0;    */
}

.certificates-tiles a{
    position: relative;
    display: inline-block;          
    width: 100%;
    height: 100%;
}

.cert-detail{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);    
    color: var(--header-logo-txt-color);
    text-align: center;    
    display: flex;    
    justify-content: center;
    flex-direction: column;
    box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.5) inset;
    padding: 5px;
}

.cert-detail *{
    color: var(--header-logo-txt-color);    
}

.certificates-tiles img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    filter: blur(1px);
}

#cert-container li:hover h2, #cert-container li:hover p{
    transform: scale(0.9);
}

#cert-container li:hover img{
    transform: scale(1.1);
}

.cert-detail p{
    font-style: italic;
}
/* Section 6 - Footer */

#footer p{
    color: var(--secondary-text-color);
}

/* Insert Animation */
header{
    animation: fadeDown 1s ease-in-out 0s 1 forwards;    
}

.visual-left h1{
    animation: fadeRight 1s ease-in-out 0.1s 1 backwards;
}

.visual-left p{
    animation: fadeDown 1s ease-in-out 0.8s 1 backwards;
}

.visual-right{
    animation: fadeLeft 1s ease-in-out 0.1s 1 backwards;
    z-index: 11;
}

.btn a{ 
    animation: pop 0.3s ease-in-out 1.5s 1 backwards;
}

/* Scroll Effect for Js*/

.cards, .title-2, blockquote,#contact, .certificates-header h1, #cert-container{    
    opacity: 0;
    
}
